{% extends 'base.html.twig' %}

{% block title %}Подтверждение регистрации{% endblock %}

{% block body %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h5>Почти готово!</h5>
        <p>На ваш emeil отправлено письмо для подтверждения регистрации.
            Завершите регистрацию по ссылке из письма</p>
    </div>
{% endblock %}