{% extends 'base.html.twig' %}

{% block title %}Главная страница!{% endblock %}

{% block body %}
    <div class="container">
        Перейти в <a href="{{ path('chat') }}">мессенджер</a>
    </div>
{% endblock %}